<div class="user">
  <h1><%= @user_on_page.name %>'s appointments:</h1>
  <p>Customer appointments:</p>
    <% @customer_appointments.each do |appointment| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= render partial: 'appointments/appointment', collection: @customer_appointments %>
        </h4>
      </div>
    </div>
  <% end %>
  <p>Vendor appointments:</p>
  <% @vendor_appointments.each do |appointment| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= render partial: 'appointments/appointment', collection: @vendor_appointments %>
      </h4>
    </div>
  </div>
<% end %>
  <% if @user_on_page.role == "vendor and customer and admin" || @user_on_page.role == "vendor" || @user_on_page.role == "vendor and customer"%>


  <%= link_to "Create new appointment", new_user_appointment_path(@user_on_page, @visiting_user), class: 'btn btn-success' %>
  <%end %>
</div>
